### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

# Read File
purchase_data = pd.read_csv(file_to_load)

# Print Summary
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Unique player count

players = len(purchase_data["SN"].value_counts())
players_total = pd.DataFrame({"Total Players": [players]},index=[0])
players_total.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
unique = purchase_data["Item ID"].nunique()
average = purchase_data["Price"].mean()
num_purchases = purchase_data["Item ID"].count()
revenue = purchase_data["Price"].sum()
total_players = purchase_data["SN"].value_counts()


purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique],
            "Average Price":[average],
            "Number of Purchases":[num_purchases],
            "Total Players":[total_players],
            "Total Revenue":[revenue]}, index=[0])


purchasing_analysis_df["Average Price"].map('${:,.2f}'.format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map('${:,.2f}'.format)

purchasing_analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Total Players,Total Revenue
0,183,3.050987,780,Lisosia93 5 Idastidru52 4 Iral74 ...,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [98]:
gender = purchase_data.groupby("Gender")
count_gender = gender.nunique()["SN"]
total_players = purchase_data["SN"].value_counts()
gender_demo = pd.DataFrame({"Total Counts": count_gender})
#                             "Percentage of Players": count_gender/total_players})
        
        

gender_demo.head(5)

# gender_demo.index.name=None
# gender_demo["Percentage of Players"] = gender_demo["Percentarge of Players"].map("{:.2f}".format)

# sort_value = gender_demo.sort_values("Total Counts", ascending=False)

# sort_value

                       Total Counts
Gender
Female                           81
Male                            484
Other / Non-Disclosed            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
purchasing_count = gender["Purchase ID"].count()
avg_purchase_price = gender["Price"].mean()
sum_purchase = gender["Price"].sum()
purchase_total_per_person = sum_purchase/count_gender

purchase_results = pd.DataFrame({"Purchase Count": purchasing_count,
                                     "Average Purchase Price": avg_purchase_price,
                                     "Total Purchase Value": sum_purchase,
                                     "Avg Total Purchase per Person": purchase_total_per_person})

purchase_results["Avg Total Purchase per Person"] = purchase_results["Avg Total Purchase per Person"].map('${:,.2f}'.format)                    

purchase_results["Average Purchase Price"] = purchase_results["Average Purchase Price"].map('${:,.2f}'.format)

purchase_results["Total Purchase Value"] = purchase_results["Total Purchase Value"].map('${:,.2f}'.format)

purchase_results

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [58]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999999]
age_demographics = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

purchase_data["Age group"] = pd.cut(purchase_data["Age"], bins, labels = age_demographics)

age_group = purchase_data.groupby("Age group")
total_count_age = age_group["SN"].nunique()

#percentage_age = (total_count_age / total_players * 100)

#summary_result = pd.DataFrame({"Total Count": total_count_age,
#                              "Percentarge of Players": percentage_age})

#summary_result["Percentarge of Players"] = summary_result["Percentage of Players"].map("{:.2f}".format)

#summary_result

total_count_age.head(8)

Age group
<10         17
10 - 14     22
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40+         12
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999999]
age_demographics = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

purchase_data["Age group"] = pd.cut(purchase_data["Age"], bins, labels = age_demographics)

age_group = purchase_data.groupby("Age group")

purchase_results = pd.DataFrame({"Purchase Count": purchasing_count,
                                     "Average Purchase Price": avg_purchase_price,
                                     "Total Purchase Value": sum_purchase,
                                     "Avg Total Purchase per Person": purchase_total_per_person})



purchase_results["Total Purchase Value"] = purchase_results["Total Purchase Value"].map('${:,.2f}'.format)
total_count_age = age_group["SN"].nunique()


total_count_age.head(8)

Age group
<10         17
10 - 14     22
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40+         12
Name: SN, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [80]:
#purchasing_analysis_df.loc[:, ["Total Players"]].head()



unique_user = purchase_data["SN"].unique
ttl_spend = purchase_data["Price"].sum
purchase_count = purchase_data["Purchase ID"].count()
average_purchase = purchase_data["Price"].mean

#top_spenders_df = pd.DataFrame({"SN": [unique_user]})

top_spenders_df = pd.DataFrame({"SN": [unique_user],
                            "Purchase Count": [purchase_count],
                            "Average Purchase Price": [average_purchase],
                            "Total Purchase Value": [ttl_spend]}, index=[0])

top_spenders_df.head()

# unique = purchase_data["Item ID"].unique()
# average = purchase_data["Price"].mean()
# num_purchases = purchase_data["Item ID"].count()
# revenue = purchase_data["Price"].sum()
# total_players = purchase_data["SN"].unique()

# purch_analysis_df = pd.DataFrame({"Number of Unique Items":[unique],
#             "Average Price":[average],
#             "Number of Purchases":[num_purchases],
#             "Total Players":[total_players],
#             "Total Revenue":[revenue]})    
# #            "Total Revenue":[revenue]}, index=[0])

# #purch_analysis_df["Average Price"] = average_purchase
# purch_analysis_df["Average Price"].map('${:,.2f}'.format)
# purch_analysis_df["Total Revenue"] = purch_analysis_df["Total Revenue"].map('${:,.2f}'.format)

# purch_analysis_df.head(5)

,SN,Purchase Count,Average Purchase Price,Total Purchase Value
0,<bound method Series.unique of 0 ...,780,<bound method Series.mean of 0 3.53\n1 ...,<bound method Series.sum of 0 3.53\n1 ...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80